#version=RHEL7
# System authorization information
auth --enableshadow --passalgo=sha512

# Use CDROM installation media
cdrom
# Use graphical install
graphical
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=vda
# Keyboard layouts
keyboard --vckeymap=us --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=eth0 --ipv6=auto --activate
network  --hostname=localhost.localdomain
# Root password
rootpw --iscrypted $6$yWxZ4Co9uJztBJZU$yb13/r3DMH7el0YakEhSyd0WYP9XdT.72xPIwhp1JviaeKP2jsNu5m0MHWVoGqax31IdZ/4mbaI32.NhVcGSK.
# System timezone
timezone America/New_York --isUtc
user --name=shlee --password=$6$Yp1T9gn4.Yqf6qeg$m/XfbpLdiwQH/f9Ab9yg8IGwcYORL87xO/31XeW.2it3vOq9KoHS.2Esh1KuFaVERwkxQVnSRmJGG1zokAEq.. --iscrypted --gecos="shlee"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=vda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel 

%packages
@core
kexec-tools

%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
